@using eVillaBooking.Domain.Entities;
@model IEnumerable<Villa>

<div class="row">
	<div class="w-100 card">

		<div class="card-header bg-success bg0gradient text-center border p-2 m-3">
			<div>Villa List</div>
		</div>
		<div class="card-body">
			<div class="text-end m-2">
				<a asp-action="Create" asp-controller="Villa" class="btn btn-danger"><i class="bi bi-plus-circle-fill"></i> Add New Villa</a>
			</div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Discription</th>
						<th>Price</th>
						<th>Square Feet</th>
						<th>Occupancy</th>
						@* <th>Image URL</th> *@
						<th>Action
						<th />
					</tr>
				</thead>
				<tbody>
					@foreach (var villa in Model)
					{
						<tr>
							<td>@villa.Name</td>
							<td>@villa.Description</td>
							<td>@villa.Price</td>
							<td>@villa.Sqft</td>
							<td>@villa.Occupancy</td>
							@* <td>@villa.ImageUrl</td> *@
							<td>
								<a class="btn btn-primary" asp-controller="Villa" asp-action="Edit" asp-route-id="@villa.Id"> <i class="bi bg-pencil-square"></i> Edit</a>
								<a class="btn btn-danger" asp-controller="Villa" asp-action="Delete" asp-route-id="@villa.Id">Delete</a>
								

								@* <a asp-action="Edit" asp-controller="Villa" asp-route-id="@villa.Id" class="btn btn-primary"> *@
								@* 	<i class="bi bg-pencil-square"></i> *@
								@* </a> *@

								@* <a asp-action="Edit" asp-controller="Villa" asp-route-id="@villa.Id" class="btn btn-primary"> *@
								@* 	<i class="bi bg-pencil-square"></i> *@
								@* </a> *@
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	</div>
</div>