@using eVillaBooking.Domain.Entities;
@model IEnumerable<Villa>

<div class="container my-4">
    <div class="card shadow-sm">
        <div class="card-header bg-gradient text-center text-white py-3">
            <h4>Villa List</h4>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-end mb-3">
                <a asp-action="Create" asp-controller="Villa" class="btn btn-danger"><i class="bi bi-plus-circle-fill"></i> Add New Villa</a>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Square Feet</th>
                        <th>Occupancy</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var villa in Model)
                    {
                        <tr>
                            <td>@villa.Name</td>
                            <td>@villa.Description</td>
                            <td>@villa.Price</td>
                            <td>@villa.Sqft</td>
                            <td>@villa.Occupancy</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary btn-sm" asp-controller="Villa" asp-action="Edit" asp-route-id="@villa.Id">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Villa" asp-action="Delete" asp-route-id="@villa.Id">
                                        <i class="bi bi-trash"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
