@model IEnumerable<VillaNumber>

<div class="row">
	<div class="w-100 card">

		<div class="card-header bg-success bg-gradient text-center border p-2 m-3">
			<div>Villa Number List</div>
		</div>
		<div class="card-body">
			<div class="text-end m-2">
				<a asp-action="Create" asp-controller="VillaNumber" class="btn btn-danger">
					<i class="bi bi-plus-circle-fill"></i> Add New VillaNumber
				</a>
			</div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Villa Number</th>
						<th>Special Details</th>
						<th>Villa Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var VillaNumber in Model)
					{
						<tr>
							<td>@VillaNumber.Villa_Number</td>
							<td>@VillaNumber.SpecialDetails</td>
							<td>@VillaNumber.Villa?.Name</td> <!-- Displaying the Villa's Name -->
							<td>
								<a class="btn btn-primary" asp-controller="VillaNumber" asp-action="Edit" asp-route-id="@VillaNumber.Villa_Number">
									<i class="bi bi-pencil-square"></i> Edit
								</a>
								<a class="btn btn-danger" asp-controller="VillaNumber" asp-action="Delete" asp-route-id="@VillaNumber.Villa_Number">
									Delete
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	</div>
</div>
